body {
    background-image: url(links/bg-site.jpg);
    background-color: rgb(255, 255, 255);
    background-repeat:no-repeat;
    background-size:cover;
  }
  h1 {
    color: rgb(255, 255, 51);
    margin-left: 20px;
    font-size: 250px;
    font-family: "Climate Crisis", sans-serif;
    margin-bottom: 50px;
    margin-top: 100px;
  }
  h2 {
    color: rgb(0, 0, 255);
    font-weight: bolder;
    font-size: 30pt;
    font-family: "Climate Crisis", sans-serif;
    text-align: justify;
    margin-left: 20px; 
    grid-column-start: 1;
    grid-row-start: 1;
    position:relative; margin-top: 30px;


  }
.tumblr {
   grid-row-start: 1;
   position:relative; left:800px; margin-top: 30px;
   


  }
.left {
    background-color: rgb(250, 248, 247);
    width: 450px;
    height: 611px;
    margin: 0 auto;
    border: 2px;
    border-style:solid;
    border-color: rgb(0, 0, 255);
  }

    h3 {
      color: rgb(0, 0, 255);
      font-family: "Climate Crisis", sans-serif;
      font-size: 30px;
      text-align: left;
      margin-left: 40px;

    }
    h4 {
      color: rgb(0, 0, 255);
      font-family: "orbitron", sans-serif;
      font-size: 20px;
      text-align: left;
      line-height: 50px;
      
    }
    ul {
      list-style: none;
    }
    h5 {
      color: rgb(0, 0, 255);
      font-family: "orbitron", sans-serif;
      font-size: 20px;
      text-align: left;
      margin-left: 40px;
    }
    h6 {
      color:rgb(0, 0, 255);
      font-family: "Orbitron", sans-serif;
      font-size: 10px;
      text-align: left;
      margin-left: 60px;
    }
    .wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      grid-auto-rows: minmax(100px, auto);
    }
    .one {
      grid-column: 1 / 3;
      grid-row: 1;
    }
    .two {
      grid-column: 2 / 4;
      grid-row: 1 / 3;
    }
    .three {
      grid-column: 1;
      grid-row: 2 / 5;
    }
    .four {
      grid-column: 3;
      grid-row: 3;
    }
    .five {
      grid-column: 2;
      grid-row: 4;
    }
    .six {
      grid-column: 3;
      grid-row: 4;
    }